{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "safari >=7"],
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "es2015",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    "transform-regenerator",
    ["transform-runtime", { "polyfill": false, "regenerator": true }],
    "array-includes"
  ]
}
